{
  "users": [
    "deployer"
  ],

  "nginx": {
    "version"                       : "1.2.4",
    "worker_processes"              : 1,
    "worker_connections"            : 1024,
    "user"                          : "www-data",
    "server_names_hash_bucket_size" : 64,
    "keepalive_timeout"             : 30,
    "default_site_enabled"          : false,

    "modules": [
      "http_stub_status_module",
      "http_ssl_module",
      "http_gzip_static_module"
    ],

    "gzip_types": [
      "text/plain",
      "text/html",
      "text/css",
      "text/xml",
      "text/javascript",
      "application/json",
      "application/x-javascript",
      "application/xml",
      "application/xml+rss"
    ]
  },

  "mysql": {
    "server_root_password": "password",
    "server_repl_password": "password",
    "server_debian_password": "password",

    "databases": [
      {
      }
    ]
  },

  "run_list": [
    "recipe[git]",
    "recipe[lxmx_hostname]",
    "recipe[locale]",
    "recipe[user::data_bag]",
    "recipe[nginx::source]",
    "recipe[mysql::client]",
    "recipe[mysql::server]",
    "recipe[database::mysql]",
    "recipe[mysqldatabases]",
    "recipe[imagemagick]",
    "recipe[openssh]"
    "recipe[php]"
  ],

  "php": {
    "install_method": "source",
    "php54": true
  }
}
